# Agenda



> Revisit Bitwise Opeartors

> Setting/Unsetting/Toggling

> Shift Operators

> Count Set Bits

For 3 bit space, we can represent 8 (2^3) numbers - 000, 001, 010, 011, 100, 101, 110 and 111

Similarly for 8 bit space, we can represent 256 (2^8) numbers

**Class Question1:** I have a number 56. I want to switch on its first bit. Which bitwise operation should I perform - AND(&), OR(|) or XOR(^).

**Ans:** We should perform OR operation to set the last bit. As XOR of 1 with 56 (111000) will toggle the last bit.

**Class Question2:** I have a number 38. I want to switch on its fourth bit. Which bitwise operation should I perform - AND(&), OR(|) or XOR(^).

**Ans:** We should perform OR operation with 8(2^3) i.e 1000 to set the fourth bit of 38 (100110)

**Class Question3:** I have a number 167. I want to switch on its fifth bit. Which bitwise operation should I perform - AND(&), OR(|) or XOR(^).

**Ans:** We should perform OR operation with 16(2^4) i.e 10000 to set the fifth bit of 167 (10100111)

So, to set the bit at nth position, perform OR operation with 2^(k-1).


    Set the 1st bit, take OR with 2^0 or 1
    Set the 2nd bit, take OR with 2^1 or 2
    Set the 3rd bit, take OR with 2^2 or 4
    Set the 4th bit, take OR with 2^3 or 8, and so on...

Given a number x, to unset some bit, AND with 0.

For Ex: for 14 i.e 1110. To unset the 3rd bit, perform AND operation with 1011.

      1 1 1 0
    & 1 0 1 1
    ----------
      1 0 1 0

Given a number x, to toggle some bit, XOR with 1.

For Ex: for 22 i.e 10110. To set the 3rd bit, perform XOR operation with 00100 (2^2)

      1 0 1 1 0
    & 0 0 1 0 0
    ------------
      1 0 0 1 0

So, to toggle a bit at nth position, perform XOR operation with 2^(k-1).

**AND operator -** UNSET a bit

**OR operator -** SET a bit

**XOR operator -** Toggle a bit

**Shift Operators:** Shift bits in some direction by some places.

Shift 1 towards left by 2 places = 1 0 0

In [ ]:
# Left shifting 1 towards left by 2 places gives us 4 i.e 100

print(1<<2)

4

**Class Question4:** Set the 4th bit of a number (10110) i.e 22

In [ ]:
print(22 | (1<<3))

30

**Class Question5**: Shift 11 by 2 places to the left

In [ ]:
print(11<<2)

44

So, shifting a number by n places is equal to multiplying that number by 2^n

**Class Question6:** Toggle the K-th bit of a number x

**Ans:** x^(1<<(k-1))

**Class Question5:** Shift 44 by 2 places to the left

In [ ]:
print(44>>2) # i.e convert 101100 to 1011 by right shifting the number

11

**Observation:** Please note right shifting a number by 2 places, is same as floor division of the number by 2, twice.

**For example:** Right shifting 18 by one place is 9 (18//2), and then right shifting it again gives 4 (9//2)

**Class Question7:** Given a number x. Count the number of set bits in the number.

In [ ]:
# Solution - 1

def CountSetBits(x):

  count = 0

  while x != 0:

    count += x&1
    x = x>>1

  return count

print(CountSetBits(44))
print(CountSetBits(31))

3
5

For the above problem, **T.C.** is O(LogN) and **S.C.** is O(1)

In [ ]:
# Solution - 2

def CountSetBits(x):

  count = 0

  for i in range(32):

    if x & (1<<i) != 0:

      count += 1

  return count

print(CountSetBits(44))
print(CountSetBits(31))

3
5

For the above problem, **T.C.** is O(LogN) and **S.C.** is O(1)

**Class Question8:** You are given an array containing 0s and 1s. Find the longest sequence of 1s in the array.

In [ ]:
def LongestSequence(x):

  count = 0

  max_len = 0

  for ele in x:

    if ele&1 == 1: # or ele == 1 will also work here

      count += 1
      max_len = max(max_len, count)

    else:

      count = 0

  return max_len

print(LongestSequence([0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1]))

4

**Another variation of question 8:** You are given a decimal number 7631 (1110111001111 in binary). Find the longest sequence of 1s in the binary representation of 7631

In [ ]:
def LongestSequence(x):

  count = 0

  max_len = 0

  for i in range(32):

    if x & (1<<i) != 0:

      count += 1
      max_len = max(max_len, count)

    else:

      count = 0

  return max_len

print(LongestSequence(7631))

4

For the above problem, **T.C.** is O(LogN) and **S.C.** is O(1)

**Class Question9:** You are given an array of 0s and 1s. Return the number of subarrays with bitwise OR as 0

For 1001, the subarrays are 1,10,100,1001,0,00,001,0,01,1. Out of them only 0,00,0 have bitwise OR as 0.

So, all subarrays with 0 will have bitwise OR as 0.

In other words, all subarrays with 0 as the element will have (n*(n+1)//2)bitwise OR as 0 where 'n' is the number of elements in the subarray.

For Example: 10001, will have 6 subarrays with bitwise OR as 0.

10010001, will have 3+6=9 subarrays with bitwise OR as 0.

In [ ]:
def TotalSubarrays(x):

  count = 0
  total = 0

  for ele in x:

    if ele&1 == 0:

      count += 1

    else:

      total += (count*(count+1)//2)
      count = 0

  return total

print(TotalSubarrays([0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1]))
print(TotalSubarrays([1, 0, 0, 1, 0, 0, 0, 1]))

7
9

For the above problem, **T.C.** is O(N) and **S.C.** is O(1)

**Class Question10:** You are given an array of 0s and 1s. Return the number of subarrays with bitwise OR as 1

**Hint:** (Total Subarrays possible) - (Count of subarray with bitwise OR as 0)

In [ ]:
def TotalSubarrays(x):

  count = 0
  total = 0

  for ele in x:

    if ele&1 == 0:

      count += 1

    else:

      total += (count*(count+1)//2)
      count = 0

  return (len(x)*(len(x)+1)//2) - total

print(TotalSubarrays([0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1]))
print(TotalSubarrays([1, 0, 0, 1, 0, 0, 0, 1]))

113
27

For the above problem, **T.C.** is O(N) and **S.C.** is O(1)